{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    {% block styles %}{% endblock styles %}
</head>
<body>
    
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% comment %} {{ form.as_p }} {% endcomment %}

        <input type="text" name="name" id="id_name" placeholder="name">
        <input type="text" name="batch" id="id_batch" placeholder="batch">
        <input type="text" name="roll_no" id="id_roll_no" placeholder="roll no">
    
        <div class="record">
            <div class="audio" id="audio"></div>
                <button id="record" class="btn">
                    <i class='bx bx-microphone'></i>
                    <p>Record Audio</p>
                </button>
            </div>
        </div>
        <hr>
        <button id="submit_btn">Submit</button>
    </form>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{% static "AudioProcessing/student_registration.js" %}"></script>
</html>
        